In [1]:
import pandas as pd
df = pd.read_csv('task1.csv')
df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

In [2]:
import geocoder

In [3]:
def get_latlng(postal_code):
    # initialize your variable to None
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    return lat_lng_coords
    
get_latlng('M5G')

[43.65609081300005, -79.38492999999994]

In [4]:
postal_codes = df['Postcode']    
coords = [ get_latlng(postal_code) for postal_code in postal_codes.tolist() ]

In [5]:
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df['Latitude'] = df_coords['Latitude']
df['Longitude'] = df_coords['Longitude']
df.head()

  Postcode           Borough     Neighbourhood   Latitude  Longitude
0      M1A      Not assigned      Not assigned  43.648690 -79.385440
1      M2A      Not assigned      Not assigned  43.648690 -79.385440
2      M3A        North York         Parkwoods  43.752420 -79.329242
3      M4A        North York  Victoria Village  43.730600 -79.313265
4      M5A  Downtown Toronto      Harbourfront  43.650295 -79.359166

In [6]:
df[df.Postcode == 'M5G']

   Postcode           Borough       Neighbourhood   Latitude  Longitude
56      M5G  Downtown Toronto  Central Bay Street  43.656091  -79.38493

In [7]:
df.to_csv('task2.csv', index=False)

In [9]:
df

    Postcode           Borough          Neighbourhood   Latitude  Longitude
0        M1A      Not assigned           Not assigned  43.648690 -79.385440
1        M2A      Not assigned           Not assigned  43.648690 -79.385440
2        M3A        North York              Parkwoods  43.752420 -79.329242
3        M4A        North York       Victoria Village  43.730600 -79.313265
4        M5A  Downtown Toronto           Harbourfront  43.650295 -79.359166
..       ...               ...                    ...        ...        ...
282      M8Z         Etobicoke              Mimico NW  43.624630 -79.526950
283      M8Z         Etobicoke     The Queensway West  43.624630 -79.526950
284      M8Z         Etobicoke  Royal York South West  43.624630 -79.526950
285      M8Z         Etobicoke         South of Bloor  43.624630 -79.526950
286      M9Z      Not assigned           Not assigned  43.648690 -79.385440

[287 rows x 5 columns]